* {
    margin: 0rem;
    padding: 0rem;
    color: #ffffff;
    /* height: 100%; */
}

.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-link {
    font-size: 20px;
    /* font-weight: bold; */
    font-family: monospace;
    /* text-transform: uppercase; */
    ;
}

#home-page {
    height: 100vh;
}

#img-block {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding-top: 470px;
    position: relative;
    background: url('https://i1.wp.com/www.alphr.com/wp-content/uploads/2020/05/Zoom-How-to-Set-Profile-Picture.jpg') no-repeat center center;
    /* width: 100%; */
    /* height: 100%; */
}

#text-block {
    text-align: center;
    padding-top: 200px;
    background-color: red;
}

#footer_block {
    width: 100%;
    height: 100px;
    padding-bottom: 0;
    background-color: #000000;
}