* {
    margin: 0rem;
    padding: 0rem;
    color: #ffffff;
    /* height: 100%; */
}

.navbar-nav {
    padding-top: 2rem;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-link {
    font-size: 20px;
    /* font-weight: bold; */
    font-family: monospace;
    /* text-transform: uppercase; */
    ;
}

#home_page {
    height: 100vh;
}

#img_block {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding-top: 35rem;
    opacity: 0.9;
    position: relative;
    background: url('https://i1.wp.com/www.alphr.com/wp-content/uploads/2020/05/Zoom-How-to-Set-Profile-Picture.jpg') no-repeat center center;
    /* width: 100%; */
    /* height: 100%; */
}

#text_block {
    text-align: center;
    padding-top: 15rem;
    background-color: red;
    opacity: 0.9;
}

#text_block li {
    padding: 1rem;
    margin-top: 12rem;
}